@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
    font-family:"Cinzel",serif;
}

/* ==========================
   PANTALLAS
========================== */

.screen{
    position:fixed;
    inset:0;
    display:none;
    justify-content:center;
    align-items:center;
    background:#000;
}

.screen.active{
    display:flex;
}

/* ==========================
   PORTADA
========================== */

#cover{
    background:#000 url("Cover.png") center center no-repeat;
    background-size:contain;
    opacity:1;
    transition:opacity 2s ease;
}

#startButton{
    position:absolute;
    left:50%;
    top:77%;
    transform:translate(-50%,-50%);
    width:320px;
    height:70px;
    border:none;
    background:transparent;
    cursor:pointer;
}

/* ==========================
   PROLOGO
========================== */

#prologue{
    opacity:0;
    transition:opacity 2s ease;
}

#prologue.active{
    opacity:1;
}

.center{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.quote{

    font-size:2.4rem;
    letter-spacing:6px;
    text-align:center;
    max-width:1200px;

    background:linear-gradient(
        90deg,
        #8b8b8b,
        #ffffff,
        #bfbfbf,
        #ffffff,
        #8b8b8b
    );

    background-size:200%;

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

    animation:
        fadeText 2s ease,
        shine 8s linear infinite;

}

@keyframes fadeText{

    from{
        opacity:0;
        transform:translateY(25px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

@keyframes shine{

    from{
        background-position:-200%;
    }

    to{
        background-position:200%;
    }

}

/* ==========================
   LIBRO
========================== */

#book{
    opacity:0;
    transition:opacity 1.5s ease;
}

#book.active{
    opacity:1;
}

#bookContainer{

    width:100%;
    height:100%;

    display:flex;
    justify-content:center;
    align-items:center;

}

#pageImage{

    width:100%;
    height:100%;
    object-fit:contain;

    animation:pageTurn .45s ease;

}

    @keyframes pageTurn{

    0%{
        opacity:0;
        transform:translateX(25px) scale(.985);
        filter:blur(2px);
    }

    100%{
        opacity:1;
        transform:translateX(0) scale(1);
        filter:blur(0);
    }

}

/* ==========================
   RESPONSIVE
========================== */

@media (max-width:768px){

    .quote{

        font-size:1.5rem;
        letter-spacing:3px;
        padding:20px;

    }

    #startButton{

        width:260px;
        height:65px;

    }

}