*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
    font-family:Georgia, serif;
}

#scene{
    width:100vw;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    perspective:2500px;
}

#book{
    width:700px;
    height:500px;

    position:relative;

    display:flex;

    perspective:2500px;
}

.sheet{
    position:absolute;

    width:100%;
    height:100%;
}

.left-page{
    position:absolute;


    left:0;

    width:50%;
    height:100%;

    background:white;
    
    overflow:hidden;
}
    .left-page img{
  position:absolute;
  top:0;
  left:0;
  width:200%;
  height:100%;
  object-fit:cover;
  display:block;
} 
.front img{
position:absolute;
top:0;
left:-100%;
width:200%;
height:100%;
object-fit:cover;
display:block;
}
  
.page{
    position:absolute;

    left:50%;
    top:0;

    width:50%;
    height:100%;

    display:block;

    transform-style:preserve-3d;

    transform-origin:left center;

    transition:transform .8s ease;

    perspective:2500px;
    will-change:transform;
}

.page-face{
    position:absolute;
    overflow:hidden;

    top:0;
    left:0;

    width:100%;
    height:100%;
    background:white;

    backface-visibility:hidden;
}

.front{
  transform-origin:left center;
  overflow:hidden;
}

.back{
    transform:rotateY(180deg);

    transform-origin:left center;
}
.page-face img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}
.front img{
  position:absolute;
  top:0;
  left:-100%;
  width:200%;
  height:100%;
  object-fit:cover;
  display:block;
}
.back img{
    position:absolute;
    top:0;
    left:0;
    width:200%;
    height:100%;
    object-fit:cover;
    display:block;
}