*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
    font-family:Georgia, serif;
}

#scene{
    position:fixed;
    inset:0;
    width:100vw;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    perspective:none;
    background:#000;
}


/* ==============================
   LIBRO
================================ */

#book{
    position:relative;

    width: 84vw;
max-width: 900px;

height: 64vh;
max-height: 620px;

    transform-style:preserve-3d;
}


/* ==============================
   SPREAD COMPLETO
================================ */

#spread{
    position:absolute;
    inset:0;

    width:100%;
    height:100%;

    overflow:hidden;

    background:#000;

    z-index:1;
}


#spreadImage{
    position:absolute;
    inset:0;

    width:100%;
    height:100%;

    object-fit:contain;
    display:block;
}


/* ==============================
   HOJA QUE GIRA
================================ */

#pageTurn{
    position:absolute;

    top:0;
    left:50%;

    width:50%;
    min-width:50%;
    max-width:50%;
    
    box-sizing:border-box;
    height:100%;

    z-index:5;

    transform-style:preserve-3d;
    transform-origin:left center;

    transition:
        transform 1.55s cubic-bezier(0.25,0.8,0.25,1);
        backface-visibility:hidden;

    will-change:transform;

    visibility:hidden;
}


/* ==============================
   CARAS DE LA HOJA
================================ */

.page-front,
.page-back{
    position:absolute;

    top:0;
    left:0;

    width:100%;
    height:100%;

    overflow:hidden;

    backface-visibility:hidden;

    background:#000;
}


.page-front{
    transform:rotateY(0deg);
}


.page-back{
    transform:rotateY(180deg);
}


/* ==============================
   IMAGEN DEL FRENTE
================================ */

#frontImage{
    position:absolute;

    top:0;
    left:0;

    width:200%;
    height:100%;

    object-fit:contain;

    display:block;
}


/* ==============================
   IMAGEN DEL REVERSO
================================ */

#backImage{
    position:absolute;

    top:0;
    left:0;

    width:200%;
    height:100%;

    object-fit:contain;

    display:block;
}


/* ==============================
   PORTADA
================================ */

#cover{
    position:fixed;

    inset:0;

    width:100vw;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#000;

    z-index:1000;

    cursor:pointer;
}


#cover img{
    display:block;

    max-width:100%;
    max-height:100%;

    width:auto;
    height:auto;

    object-fit:contain;
}
